.center {
  margin: 0 auto;
  width: 417px;
  background: white;
  padding: 20px;
  color: black;
}

.center-header {
  text-align: center;
}

.alert {
	width:300px;
	margin:0 auto;
 	float:none;
 	display: none;
}

.btn-width {
	width: 180px;
}